body{
    background-color: black !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    overflow: hidden;
}

.orbitron{
    font-family: 'Orbitron', sans-serif;
    -webkit-animation: colorchange 15s infinite alternate;
    font-size: 3.5em;
}

.typewriter{
    overflow: hidden; 
    border-right: .15em solid transparent; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end 5;
  }
  
  /* typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
  
.nodecolink{
    text-decoration: none;
    color: white;
}

.nodecolink:hover{
    color: white;
    transform: scale(2);

}

.nodecolink2{
    text-decoration: none;
    color: white;
}

.nodecolink2:hover{
    color:white;
}

.image{
    height: auto;
    max-width: 40vw;
}

.icon{
    width: 15vh;
    height: 15vh;
}

.border{
    border: 0.5vh solid !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .carousel-item:hover .overlay {
    opacity: 0.8;
  }
  .text {
    color: white;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  


@-webkit-keyframes colorchange {
    0% {
        color: black;
    }
    10% {
        color: #80e8c7;
    }
    20% {
        color: #ba7be0;
    }
    30% {
        color: #db8fc8;
    }
    40% {
        color:#9529ab;
    }
    50% {
        color: #eba652;
    }
    60% {
        color: #edd861;
    }
    70% {
        color: #2cbf6e;
    }
    80% {
        color: #34ccd1;
    }
    90% {
        color: #c43945;
    }
    100% {
        color: white;
    }
}

@media only screen and (max-width: 768px) {
    body{
        overflow-y: scroll;
        font-size: 1em;
    }
    .w-75{
        width: 100% !important;
    }

    .overlay {
        opacity: 0.8;
      }

    .typewriter{
        font-size: 1em !important;
        animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end 5;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 80% }
      }
    .text{
        font-size: 0.5em;
    }
    .carousel-dark .carousel-indicators [data-bs-target]{
        background-color: white;
    }
    .carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
        filter:none;
    }
}
