body{
    background-color: black !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    overflow: hidden;
}

.orbitron{
    font-family: 'Orbitron', sans-serif;
    -webkit-animation: colorchange 15s infinite alternate;
    font-size: 4em;
}

.nodecolink{
    text-decoration: none;
    color: white;
}

.nodecolink:hover{
    color: white;
    transform: scale(2);
}

.nodecolink2{
    text-decoration: none;
    color: white;
}

.nodecolink2:hover{
    color:white;
}

.container{
    height: 100vh !important;
    width: 100vw !important;
}

.image{
    height: auto;
    max-width: 40vw;
}

.icon{
    width: 15vh;
    height: 15vh;
}

.border{
    border: 0.5vh solid !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .carousel-item:hover .overlay {
    opacity: 0.8;
  }
  .text {
    color: white;
    font-size: 1.8vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  


@-webkit-keyframes colorchange {
    0% {
        color: black;
    }
    10% {
        color: #80e8c7;
    }
    20% {
        color: #ba7be0;
    }
    30% {
        color: #db8fc8;
    }
    40% {
        color:#9529ab;
    }
    50% {
        color: #eba652;
    }
    60% {
        color: #edd861;
    }
    70% {
        color: #2cbf6e;
    }
    80% {
        color: #34ccd1;
    }
    90% {
        color: #c43945;
    }
    100% {
        color: white;
    }
}

@media only screen and (max-width: 768px) {
    body{
        overflow: scroll;
        font-size: 1em;
    }
    .w-75{
        width: 100% !important;
    }

    .overlay {
        opacity: 0.8;
      }

    .text{
        font-size: 0.5em;
    }
    .carousel-dark .carousel-indicators [data-bs-target]{
        background-color: white;
    }
    .carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
        filter:none;
    }
}
