body{
    background-color: black !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    overflow: hidden;
}

.orbitron{
    font-family: 'Orbitron', sans-serif;
    -webkit-animation: colorchange 15s infinite alternate;
}

.nodecolink{
    text-decoration: none;
    color: white;
}

.nodecolink:hover{
    color: white;
    transform: scale(2);
}

.container{
    height: 100vh !important;
    width: 100vw !important;
}

.image{
    height: auto;
    max-width: 40vw;
}

.icon{
    width: 15vh;
    height: 15vh;
}

.border{
    border: 0.5vh solid !important;
}

@-webkit-keyframes colorchange {
    0% {
        color: black;
    }
    10% {
        color: #80e8c7;
    }
    20% {
        color: #ba7be0;
    }
    30% {
        color: #db8fc8;
    }
    40% {
        color:#9529ab;
    }
    50% {
        color: #eba652;
    }
    60% {
        color: #edd861;
    }
    70% {
        color: #2cbf6e;
    }
    80% {
        color: #34ccd1;
    }
    90% {
        color: #c43945;
    }
    100% {
        color: white;
    }
}